.signupParentDiv {
  border: 1px solid black;
  width: 550px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupParentDiv .input {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  outline-color: transparent;
  width: 300px;
  margin: 10px 0; /* Add vertical margin to inputs */
}

.signupParentDiv button {
  width: 100%;
  height: 48px;
  margin-top: 40px;
  background-color: #002f34;
  color: whitesmoke;
  font-weight: 900;
  
}

.signupParentDiv button:hover {
  background-color: white;
  color: #002f34;
  border: 2px solid #002f34;
}

.signupParentDiv a {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.signUpform {
  width: 300px;
}

.loginNav {
  color: black;
  font-size: medium;
  margin: 20px;
}

.loginNav:hover {
  font-size: large;
  color: black;
}

.error {
  color: red;
  margin: 5px 0; /* Ensure small margin to avoid large gaps */
  font-size: 14px; /* Adjust font size for better fit */
}
