.createMain {
  padding-top: 100px;
  text-align: center; 
  width: 100%; 
  display: block; 
  font-weight: 600;
  font-size: x-large;
}


.centerDiv {
    border: 1px solid rgb(212, 212, 212);
    width: max-content;
    padding: 50px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
  }
  .input {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
    width: 300px;
  }
  
  .uploadBtn {
    margin-top: 30px;
    width: 100%;
    height: 48px;
    /* border-color: transparent; */
    background-color: #002f34;
    color: whitesmoke;
    font-weight: 900;
  }
  .uploadBtn:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
  }
  

.uploadImg {

 font-size: 13px;
 padding: 4px 10px;
  background-color: #012f34;
  color: white;
  border: none;
  cursor: pointer;
  
}

